@import "./themes/dark";
@import "./themes/light";
@import "./variables/global";
@import "./reset";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.page-content {
    display: flex;
}

.page-wrapper {
    padding: 20px;
    flex-grow: 1;
}
