@import './themes/dark.scss';
@import './themes/light.scss';
@import './variables/global.scss';
@import "./reset.scss";

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}

.page-content {
  display: flex;
}

.page-wrapper {
  padding: 20px;
  flex-grow: 1;
}
