.Sidebar {
    padding: 20px 0;
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: 0.3s width;
    position: relative;
}

.lang {
    margin-left: 10px;
}

.switchers {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}

.collapseBtn {
    margin-left: 20px;
    position: absolute;
    right: calc(var(--line-size-l) * -1);
    bottom: var(--line-size-l);
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin-top: 20px;
    margin-left: 30px;
}

.item {
    display: flex;
    justify-content: start;
    margin-top: 15px;
}

.link {
    opacity: 1;
    margin-left: 10px;
    font: var(--font-m);
}

.icon {
    fill: var(--secondary-color);
    width: var(--line-size-m);
    height: var(--line-size-m);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        padding: 0;
    }

    .link {
        width: 0;
        opacity: 0;
        transition: 0.3s;
    }
}
