.app-dark-theme {
    --bg-color: #09804a;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #f4fbf8;
    --secondary-color: #095b06;
    --inverted-primary-color: #095b06;
    --inverted-secondary-color: #f4fbf8;
    --disabled-color: #666;
}
