.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0e0e75;

  --primary-color: #041e56;
  --secondary-color: #0449e0;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
  --disabled-color: #ccc;
}