.AppLink {
    margin: 0 5px;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.disabled {
    color: var(--disabled-color);
    cursor: default;
}
